<app-head></app-head>

<body id="top">

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
    
        <div class="container">
          
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
  
            <div class="col-md-5">
              <img src="../../assets/img/login.jpg"  class="img-fluid" alt="">
            </div>
            <div class="col-md-7 order-2 order-md-1">
              <h3>Les Bricoleurs/Fournisseurs de services</h3>
              <br> 
              <ul>
                <li> Vous avez la bienvenue </li>
                <li>Chers Fournisseurs vous pouvez maintenant bénificier des services de notre sites </li>
                <li>Vous avez plus de chance à exposer vos offre vos compétences et vos services</li>
              </ul>
              <p >
                
              </p>
              <br><br> 
              <div class="col-md-3">  
                <button class="btn btn-b btn-block text-white btn-sm" type="button">Voir Plus</button><br> <br> 
             </div>
            </div>
          </div><!-- Features Item -->
  
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
            <div class="col-md-5">
              <img src="https://www.arthur-loyd-rouen.com/upload/media/page/350x0/2643-arthur-loyd-rouen-conseil.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <h3>Conseil et Orientation</h3>
              <br>
              <ul>
                <li><i ></i> Il faut tout d'abord s'inscrire dans notre site  et puis publier vos offres  </li>
                <li><i ></i>Si l'admin accepte votre demande tous les clients peuvent consulter votre offre</li>
               
              </ul>
              <p></p>
              <br><br> 
              <div class="col-md-3">  
                <button class="btn btn-b btn-block text-white btn-sm" type="button">Voir Plus</button>
                <br> <br> 
             </div>
            </div>
          </div><!-- Features Item -->
  
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2 mb-3">
              <img src="../../assets/img/espace.jpg"  class="img-fluid" alt="">
            </div>
            <div class="col-md-7 order-2 order-md-1">
              <h3> espace de travail</h3>
              <br>
              <ul>
                <li><i ></i>Nous assurons que votre environnement de travail soit confortable propre et professionel</li>
                <li><i></i>Espace de bricolage ou des services</li>
               
              </ul>
              <p></p>
              <br><br> 
              <div class="col-md-3 mb-3">  
                <button class="btn btn-b btn-block text-white btn-sm" type="button">Voir Plus</button><br> <br>
             
            </div>
          </div><!-- Features Item -->
  </div>
        </div>
      </section><!-- End Features Section --></body>
      <app-footer></app-footer>